var base = `<div class="application-main " data-commit-hovercards-enabled>
    <main>
        <div class="container-xl clearfix px-3 mt-4">
            {{ partial "user-profile.html" . }}
{{ $blogSections := slice "blog" }}
{{ $section_blog := where .Site.RegularPages "Section" "in" $blogSections }}
{{ $section_count_blog := len $section_blog }}
{{ $mathSections := slice "math" }}
{{ $section_math := where .Site.RegularPages "Section" "in" $mathSections }}
{{ $section_count_math := len $section_math }}
<div class="col-lg-9 col-md-8 col-12 float-md-left pl-md-2">
    <div class="UnderlineNav width-full user-profile-nav top-0 is-placeholder"
        style="visibility: hidden; display: none; height: 56px;"></div>
    <div class="UnderlineNav width-full user-profile-nav js-sticky top-0"
        style="position: static; top: 0px; left: 330.5px; width: 911.5px;">
        <nav class="UnderlineNav-body" aria-label="User profile">
            <a aria-current="page" class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ .Site.BaseURL }}">
                Overview
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "blog/" }}">
                Blogs
                <span class="Counter hide-lg hide-md hide-sm">
                    {{ $section_count_blog}}
                </span>
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "math/" }}">
                Math
                <span class="Counter hide-lg hide-md hide-sm">
                    {{ $section_count_math}}
                </span>
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "novel/" }}">
                Novel
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "software/" }}">
                Software
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "contact/" }}">
                Contact
            </a>
            <a class="UnderlineNav-item mr-0 mr-md-1 mr-lg-3 " href="{{ absURL "about/" }}">
                About
            </a>
        </nav>
    </div>

    <div class="position-relative">
        <div id="user-repositories-list">`