<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="{{ "lunr/lunr.js" | absURL }}"></script>
<script src="{{ "lunr/lunr_stemmer_support.js" | absURL }}"></script>
<script src="{{ "lunr/tinyseg.js" | absURL }}"></script>
<script src="{{ "lunr/japan.js" | absURL }}"></script>
<script src="{{ "lunr/lunr_multi.js" | absURL }}"></script>
<script>
	var json="{{ "index.json" | absURL }}";
</script>
<script src="{{ "/base.js" | absURL }}"></script>
<script src="{{ "js/search.js" | absURL }}"></script>

<div class="full-text-search-form" action="{{ .URL }}" onkeyup="search()">
  <input id="search-query" placeholder="Full Text Search" name="query" autocomplete="off" search autofocus/>
</div>
<ul id="search">