<html>
<head>
  <link rel="stylesheet" type="text/css" href='{{ "404/404.css" | absURL }}'>
</head>
<body>
  <div id="layer">
    <div id="base" data-depth="0.1"><img src='{{ "404/base.jpg" | absURL }}'></div>
    <div id="house" data-depth="0.2"><img src='{{ "404/404-6.png" | absURL }}'></div>
    <div id="ship" data-depth="0.6"><img src='{{ "404/ship.png" | absURL }}'></div>
    <div id="man" data-depth="0.8"><img src='{{ "404/man.png" | absURL }}'></div>
    <div id="speak" data-depth="1.0"><img src='{{ "404/404-3.png" | absURL }}'></div>
  </div>
<script src='{{ "404/parallax.js" | absURL }}'></script>
<script src='{{ "js/jquery/jquery-3.5.1.min.js" | absURL }}'></script>
<script src='{{ "404/404.js" | absURL }}'></script>
</body>
</html>