<script src="{{ "js/stop.js" | absURL }}"></script>
<script src="{{ "js/contributions.js" | absURL }}"></script>
<script src="{{ "jquery/jquery-3.5.1.min.js" | absURL }}"></script>
<script src="{{ "js/github.js" | absURL }}"></script>
<script src="{{ "base.js" | absURL }}"></script>
<script src="{{ "lunr/lunr.min.js" | absURL }}"></script>
<script src="{{ "lunr/lunr.stemmer.support.min.js" | absURL }}"></script>
<script src="{{ "lunr/tinyseg.min.js" | absURL }}"></script>
<script src="{{ "lunr/lunr.ja.min.js" | absURL }}"></script>
<script src="{{ "mark/jquery.mark.min.js" | absURL }}"></script>
<script>
  var json="{{ "index.json" | absURL }}";
</script>
<script src="{{ "search/search.js" | absURL }}"></script>
{{ if or (.IsHome) (.Params.math) }}
<script defer src="{{ "katex/katex.min.js" | absURL }}" integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4" crossorigin="anonymous"></script>
<script defer src="/katex/contrib/auto-render.min.js" integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  renderMathInElement(
      document.body,
      {
        delimiters: [
            {left: "$$", right: "$$", display: true},
            {left: "\\[", right: "\\]", display: true},
            {left: "$", right: "$", display: false},
            {left: "\\(", right: "\\)", display: false}
        ]
      }
  );
});
</script>
{{ end }}
{{ with .Params.foto }}
<script src="{{ "fancybox/jquery.fancybox.min.js" | absURL }}"></script>
<script>
  $('[data-fancybox]').fancybox();
</script>
{{ end }}
{{ if eq .File.LogicalName "bbs.md"}}
<script src="{{ "bbs/bbs.js" | absURL }}"></script>
<script>
  window.onload = onloads();
</script>
{{ end }}
