<div class="h-card col-lg-3 col-md-4 col-12 float-md-left pr-md-3 pr-xl-6" itemscope
    itemtype="http://schema.org/Person">
    <div class="user-profile-sticky-bar js-user-profile-sticky-bar">
    </div>
    <div class="clearfix mb-2">
        <div class="float-left col-3 col-md-12 pr-3 pr-md-0">
            {{ with $.Site.Params.avatar }}
                <img id= "avatar" alt="" width="260" height="260"
                    class="avatar width-full height-full avatar-user" src="{{ $.Site.Params.avatar  }}" />
            {{ else }}
            <a itemprop="image" class="u-photo d-block position-relative" aria-hidden="true"
                href='{{ "images/avatar.png" | absURL }}'>

                <img alt="" width="260" height="260"
                    class="avatar width-full height-full avatar-user" src='{{ "images/avatar.png" | absURL }}' />
            </a>
           {{ end }}
        </div>
        <div class="float-left col-9 col-md-12 pl-2 pl-md-0">

            <div class="vcard-names-container pt-1 pt-md-3 pb-1 pb-md-3 js-sticky js-user-profile-sticky-fields">
                <h1 class="vcard-names">
                    <span class="p-name vcard-fullname d-block overflow-hidden"
                        itemprop="name">{{ .Site.Params.title }}</span>
                    <span class="p-nickname vcard-username d-block"
                        itemprop="additionalName">{{ .Site.Params.name }}</span>
                </h1>
            </div>

            <div class="d-none d-md-block">
                <div class="js-profile-editable-area">
                    <div class="p-note user-profile-bio js-user-profile-bio">
                        <div>{{ .Site.Params.Description }}</div>
                    </div>
                    <ul class="vcard-details mb-3">

                        {{ if .Site.Params.country }}
                        <li itemprop="country" aria-label="Country: {{ .Site.Params.country }}"
                            class="vcard-detail pt-1 css-truncate css-truncate-target"><svg class="octicon octicon-country"
                                viewBox="0 0 18 16" version="1.1" width="18" height="16" aria-hidden="true">
                                <path fill-rule="evenodd" d="M1.5 14.25c0 .138.112.25.25.25H4v-1.25a.75.75 0 01.75-.75h2.5a.75.75 0 01.75.75v1.25h2.25a.25.25 0 00.25-.25V1.75a.25.25 0 00-.25-.25h-8.5a.25.25 0 00-.25.25v12.5zM1.75 16A1.75 1.75 0 010 14.25V1.75C0 .784.784 0 1.75 0h8.5C11.216 0 12 .784 12 1.75v12.5c0 .085-.006.168-.018.25h2.268a.25.25 0 00.25-.25V8.285a.25.25 0 00-.111-.208l-1.055-.703a.75.75 0 11.832-1.248l1.055.703c.487.325.779.871.779 1.456v5.965A1.75 1.75 0 0114.25 16h-3.5a.75.75 0 01-.197-.026c-.099.017-.2.026-.303.026h-3a.75.75 0 01-.75-.75V14h-1v1.25a.75.75 0 01-.75.75h-3zM3 3.75A.75.75 0 013.75 3h.5a.75.75 0 010 1.5h-.5A.75.75 0 013 3.75zM3.75 6a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM3 9.75A.75.75 0 013.75 9h.5a.75.75 0 010 1.5h-.5A.75.75 0 013 9.75zM7.75 9a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5zM7 6.75A.75.75 0 017.75 6h.5a.75.75 0 010 1.5h-.5A.75.75 0 017 6.75zM7.75 3a.75.75 0 000 1.5h.5a.75.75 0 000-1.5h-.5z" />
                            </svg>
                            {{ .Site.Params.country }}
                        </li>
                        {{ end }}

                        {{ if .Site.Params.location }}
                        <li itemprop="location" aria-label="Email: {{ .Site.Params.location }}"
                            class="vcard-detail pt-1 css-truncate css-truncate-target"><svg class="octicon octicon-location"
                                viewBox="0 0 18 16" version="1.1" width="18" height="16" aria-hidden="true">
                                <path fill-rule="evenodd" d="M11.536 3.464a5 5 0 010 7.072L8 14.07l-3.536-3.535a5 5 0 117.072-7.072v.001zm1.06 8.132a6.5 6.5 0 10-9.192 0l3.535 3.536a1.5 1.5 0 002.122 0l3.535-3.536zM8 9a2 2 0 100-4 2 2 0 000 4z" />
                            </svg>
                            {{ .Site.Params.location }}
                        </li>
                        {{ end }}

                        {{ if .Site.Params.email }}
                        <li itemprop="email" aria-label="Email: {{ .Site.Params.Email }}"
                            class="vcard-detail pt-1 css-truncate css-truncate-target"><svg class="octicon octicon-mail"
                                viewBox="0 0 18 16" version="1.1" width="18" height="16" aria-hidden="true">
                                <path fill-rule="evenodd" d="M1.75 2A1.75 1.75 0 000 3.75v.736a.75.75 0 000 .027v7.737C0 13.216.784 14 1.75 14h12.5A1.75 1.75 0 0016 12.25v-8.5A1.75 1.75 0 0014.25 2H1.75zM14.5 4.07v-.32a.25.25 0 00-.25-.25H1.75a.25.25 0 00-.25.25v.32L8 7.88l6.5-3.81zm-13 1.74v6.441c0 .138.112.25.25.25h12.5a.25.25 0 00.25-.25V5.809L8.38 9.397a.75.75 0 01-.76 0L1.5 5.809z" />
                            </svg>
                            <a class="u-email " href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Email }}</a>
                        </li>
                        {{ end }}

                        <li itemprop="url" data-test-selector="profile-website-url"
                            class="vcard-detail pt-1 css-truncate css-truncate-target"><svg class="octicon octicon-link"
                                viewBox="0 0 18 16" version="1.1" width="18" height="16" aria-hidden="true">
                                <path fill-rule="evenodd" d="M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z" />
                            </svg>
                            {{ if .Site.Params.url }}
                            <a rel="nofollow me" href="{{ .Site.Params.url }}">{{ .Site.Params.url }}</a>
                            {{ else }}
                            <a rel="nofollow me" href="{{ .Site.BaseURL }}">{{ .Site.BaseURL }}</a>
                            {{ end }}
                        </li>
                    </ul>
                </div>
            </div>

            <div class="border-top py-3 clearfix hide-sm hide-md">
                <h2 class="mb-1 h4">Organizations</h2>

                {{ if .Site.Params.github}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://github.com/{{ .Site.Params.github }}">
                    <svg width="35" height="35" class="avatar github-octicon" viewBox="0 0 16 16" version="1.1"
                        aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z">
                        </path>
                    </svg>
                </a>
                {{ end }}
                {{ if .Site.Params.misskey}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="{{ .Site.Params.misskey }}">
                    <img src='{{ "images/misskey.png" | absURL }}' class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.mastodon}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="{{ .Site.Params.mastodon }}">
                    <img src='{{ "images/mastodon.png" | absURL }}' class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.facebook}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://facebook.com/{{ .Site.Params.facebook }}">
                    <img src='{{ "images/facebook.png" | absURL }}' class="avatar" width="35" height="35">
                </a>
                {{ end }}
                {{ if .Site.Params.Twitter}}
                <a class="avatar-group-item" data-hovercard-type="organization"
                    href="https://twitter.com/{{ .Site.Params.Twitter }}">
                    <img src='{{ "images/twitter.png" | absURL }}' class="avatar" width="35" height="35">
                </a>
                {{ end }}
                <a class="avatar-group-item" data-hovercard-type="organization"
                                             href='{{ "index.xml" | absURL }}'>
                    <img src='{{ "images/rss.png" | absURL }}' class="avatar" width="38" height="38">
                </a>
            </div>

            <div data-test-selector="profile-sponsorships">
            </div>
        </div>
    </div>
</div>
